body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;


}


.comments {
  margin-top: -30px;
  margin-bottom: -50px;

  
}

.comments-title {
  font-size: 40px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

.comments-container {
  margin-top: 16px;
  
  
}

.comment-form-title {
  font-size: 22px;
  
}

.comment-form-textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 8px;
  margin-top: 8px;
  background-color: #FEF9E7  ;
  justify-content: center;
  border-radius: 5px;
  font-size: 18px;
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 40px;
  background: rgb(59, 130, 246);
  border-radius: 5px;
  color: white;
  float: right;
  
  
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(26, 8, 162);
  font-weight: bold;
}

.comment-text {
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: left;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}
.common-section {
  margin: 5rem 0;
}

.our-services img {
  width: 70%;
  height: 75%;
  
  margin-left: 30rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.8rem 0.8rem;
  border-radius: 1.5rem;
}


.our-services .mini-title {
  text-transform: uppercase;
  font-weight: normal;
  margin: 3rem 0;
  text-align: left;
  font-size: 1.5rem;
}

.our-services .main-heading {
  font-weight: bolder;
}

.our-services-info {
  margin-top: 4rem;
}

.our-services .our-services-number {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid var(--primary-color);
  font-size: 1.5rem;
  color: var(--primary-color);
  display: grid;
  place-items: center;
}

.our-services-data {
  padding-left: 2rem;
}

.our-services .our-services-data p {
  margin: 1rem 0;
}

/* 2nd section of about us  */

.our-services-rightside {
  margin-top: 10rem;
}

.our-services-rightside-content {
  padding-left: 8rem;
}

.our-services-list{
  text-align: center;
  margin-left: 20rem;
}

@media only screen and (max-width: 1200px){
 
  .our-services-list{
    text-align: center;
    margin-right: 40rem;
  }
}
.service-main-container {
  margin-top: 5rem;
  padding: 5rem 0;
}

.service-main-container .main-heading {
  margin: 3rem 0;
}

.work-container-subdiv {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.16);
  padding: 30px;
  background-color: #ffffff;
}

.work-container-subdiv:hover {
  background-color: var(--bgcolor);
  cursor: pointer;
}

.work-container-subdiv:hover > .fontawesome-style {
  background-color: #fff;
}

.work-container-subdiv .main-hero-para {
  width: 100%;
}

.service-main-container .work-container-subdiv .fontawesome-style {
  text-align: left;
  margin: 2rem 0;
}

@media (min-width: 1400px) {
  .service-container .col-xxl-4 {
    flex: 0 0 auto;
    width: 30% !important;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .service-container .col-lg-4 {
    flex: 0 0 auto;
    width: 30% !important;
    margin: 2.5rem auto;
  }
}